.Container{
    right:1918px ;
}
.left {
height: 935px;
width: 150px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color:#191718;
overflow-x: hidden;
padding-top: 20px;
}
.left a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}
.left a:hover {
color: #101010;
background-color: #ababab;
}

.right {
margin-left: 160px;
padding: 0px 100px;
height: 935px;
}
.Content{
    padding-bottom: 200px;
}
.Logo{
    text-align: center;
}
.Group1{
    background: #EFEFEF;
    text-align: center;
}
p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.7px;
    letter-spacing: 0em;
    
}
.Rectangle4{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #ababab;
    top: 1110px;
    left: 279px;

}
.Footer a {
    display: flex;
    text-align: center;

}

.Rectangle6{             
    height: 252px;
    top: 1360px;
    left: 279px;
    padding-right: 50px;

}
.Group2_Retangle6{
    display: flex;

}
.Content_Group{
    display: flex;
    align-items: center;
}